@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap');


*{
	margin: 5px;
	padding: 5px;
}
.container{
	width: 1880px;
	margin: 0 auto;
}

	.container__header{
		
		width: 1760px;
		height: 100px;
		
		display: flex;
	}
	.menu__ul{
		
		width: 1113px;
		display: flex;
		justify-content: flex-start;
	}

	.menu__item{
		margin: 0 80px 0 0;
	}

	.container__A{
		margin-right: 200px;
		width: 79px;
		height: 62px;

	}

	li{
		list-style-type: none;
	}
	a{
		text-decoration: none;
	}
	
    .container__block1{
		display: flex;
	}
	.container__number{
		margin-right: 200px;
		height: 420px;
        
	}


	.number__item{
		margin:0 0 25px 0 ;
		width: 40px;
		height: 40px;
		padding: 10px 14px;
	}

	.number__item > a{
    font-size: 18px;
	text-align: center;

	}
	

	.number__1{
		
		border: 1px solid;
		border-radius: 50%;
		color: rgb(0, 0, 0);
		
	}
	a{
		display: flex;
	}
	
	.dublin{
		font-size: 19px;
		color: #FFC59E;
		
	}

	.container__text{
		width: 645px;
		height: 330px;
	}

	.block__1{
		width: 1770px;
		height: 786px;
		display: flex;
		justify-content: space-between;

	}
		
		
	
	.dogs{
		width: 833px;
		height: 796px;
	}
	.text{
		font-size: 80px;
	}
	.knopka{
		background: #FFC59E;
box-shadow: 0px 4px 20px #FFC59E;
border-radius: 33.5px;
font-family: 'Futura New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
padding: 24px 77px;
margin: 50px 0 0 0;
	}

.ul__giv{
	margin: 200px 0 0 0;
	display: flex;
}
.telephone{
	font-size: 27px;
	margin: 0 150px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

}
	
	

	
	
	
	
	
	