@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap');


*{
	margin: 5px;
	padding: 5px;
}
.container{
	width: 1880px;
	margin: 0 auto;
}

	.container__header{
		
		width: 1760px;
		height: 100px;
		
		display: flex;
	}
	.menu__ul{
		
		width: 1113px;
		display: flex;
		justify-content: flex-start;
	}

	.menu__item{
		color: #C3B9B5;
		font-size: 18px;
		margin: 0 80px 0 0;
	}
	.menu__item__1{
		margin: -7px 0 0 0;
		color: #59443F;
	}

	.container__A{
		margin-right: 200px;
		width: 79px;
		height: 62px;

	}

	li{
		list-style-type: none;
	}
	a{
		text-decoration: none;
	}
	
    .container__block1{
		display: flex;
	}
	.container__number{
		
		margin-right: 200px;
		height: 420px;
        
	}


	

	.number__item > a{
    font-size: 18px;
	text-align: center;

	}
	

	.number__1{

		
		margin: 200px 0 100PX 0;
		font-size: 80px
		
	}
	.circle__1{
		color: #FFFFFF;
        margin: -7px 0 0px 30px ;
		width:20px;
		height:20px;
		background-color: #FFC59E;
		border-radius: 50%;


	}
	a{
		display: flex;
	}
	
	.dublin{
		font-size: 19px;
		color: #FFC59E;
		
	}

	
		
	
	.container__victoria{
		display: flex;
		margin: 200px -74px 230px 0;
		border: 1px solid #C3B9B5;
		border-radius: 20px;
	}

	.color__1{
		font-size: 20px;
		color: #C3B9B5;
	}
	.block__1{
		width: 1770px;
		height: 786px;
		display: flex;
		justify-content: space-between;

	}
	.personal__data{
		font-size: 30px;
		margin: 105px 0 0 231px;
		width: 230px;
		height: 40px;
	}
	.personal__data_1{
		width: 234px;
		height: 40px;
		margin: 0 0 0 0;
	}

	.small__text{
		color: #C3B9B5;
		font-size: 15px;
	}
	.big__text{
		color: #080606;
		font-size: 20px;
	}
	.izmenit{
		color: #FFC59E;
		font-size: 20px;
	}
	.container__text__victoria{
		padding: 0 176px 0 0;
		margin: 0 11 0 0;
	}
	.vic{
		color: #000;
	}
	.container__block2{
		width: 909px;
		
		margin: 0 0 0 850px;

	}
	.my__pets{
		text-align: center;
		font-size: 30px;
	}
		
	
	

	.knopka{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 150px;
		width: 900px;
		background: #FFC59E;
box-shadow: 0px 4px 20px #FFC59E;
border-radius: 33.5px;
font-family: 'Futura New';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 20px;
color: #FFFFFF;
padding: 24px 77px 0 0 ;
margin: 50px 0 0 0;
	}
	
	.big__text_1{
		font-size: 30px;
	}
	.sing{
		width: 247px;
		height: 40px;
		font-size: 30px;
		margin: 0 0 -177px 0;
		
	}
	.container__grompel{
		border-radius: 20px;
		display: flex;
		margin: 50px -74px -155px 0;
		border: 1px solid #C3B9B5;
	}
	.container__text__grompel{
		display: block;
		padding: 0 176px 0 0;
		margin: 0 11 0 0;

	}
	.big__text_g{
		background: #FFFFFF;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
		
		border: 1px solid #C3B9B5;
		font-size: 20px;
		display: flex;
	
		margin: 30px 0 0 0;
		padding: 0 -1 0 0;
	}
	.small__text_g{
		display: flex;
	
		margin: 0 0 0 130px;
		padding: 0 0 0 0;
		font-size: 15px;
		color:#C3B9B5;
	}
	footer{
		
		background-color: #59443F;
		width: 1920px;
		height: 469px;
		display: flex;
		color: #FFFFFF;
		margin: -130px 0 0 0 ;

	}
	.container__politica{
		display: flex;
		align-items: center;
		font-size: 20px;
	}
	.aib{
		margin: 89px -234px 0 201px ;
		padding: 0 0 0 0;
	}
	.container__politica{
		font-size: 20px;
		width: 192px;
		height: 120px;
		margin: 250px  0 0 ;
		
	}
	.glavna{
		margin: 96px 100px 0 100px;
	}
	.otziv{
		margin: 63px 0 0 0 ;
	}
	.container__contakt{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 60px 0 0 928px;
	}
	.giv__inst{
		margin: 0 0 0 37px;
	}



	
	
	
	
	
	